---
const {type} = await Astro.request.json()
const data = type ? type : 'Any'
const {setup, delivery} = await fetch(`https://v2.jokeapi.dev/joke/${data}?type=twopart`).then(res => res.json())
---

<div class="flex flex-col shadow-lg justify-center items-center p-3 rounded-lg gap-2 w-fit h-fit">
	<h1 class="font-bold">{setup}</h1>
	<h1>{delivery}</h1>
</div>